.main-menu {
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
    max-height: 60px;
    position: relative;
    line-height: 22px;
    display: inline-block;
    .left-part {
        float: left;
        @media all and (max-width: 1250px) and (min-width: 815px) {
            .list-item {
                padding: 19px 12px;
            }
        }
        @media (max-width: 850px) {
            .left-part {
                width: 0;
            }
            .list-item {
                display: none;
                &.main {
                    display: block;
                }
            }
        }
    }
    .right-part {
        float: right;
        width: 32%;
        div {
            float: left;
        }
        .parental-control {
            .icon-logo {
                float: left;
                width: 30px;
                height: 30px;
                margin: -5px;
            }
            .title {
                padding: 2px 0 0 10px;
            }
        }
        .search {
            .search-logo {
                width: 20px;
                height: 20px;
                margin: 4px 0 0 10px;
            }
            .title {
                padding: 2px 0 0 10px;
            }
        }
        @media (max-width: 1400px) {
            width: 15%;
            .parental-control, .search {
                .title {
                    display: none;
                }
            }
        }

        @media (max-width: 850px) {
            width: 35%;
        }
    }
    .list-item {
        float: left;
        color: #565656;
        font-size: 16px;
        padding: 19px 20px;
        &.logo {
            padding: 8px;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(68, 77, 87, 0.1);
        }
        &:active {
            background-color: #444d57;
            color: #ffffff;
        }
        @media (max-width: 1250px) {
            &.parental-control, &.search {
                width: 15%;
            }
        }
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
