.detail-container {
    padding-top: 60px;
    .detail-header {
        display: block;
        background-color: #80755A;
        .header-title {
            margin-top: 28px;
            width: 58.33333%;
            float: left;
            padding-left: 40.5px;
            padding-right: 9.5px;
            .title {
                font-size: 48px;
                line-height: 52px;
            }
        }
        .header-buttons {
            display: inline-block;
            .header-btn {
                float: left;
                text-align: center;
                margin: 30px;
                .icon {
                    width: 25px;
                    height: 25px;
                }
                &:hover {
                    cursor: pointer;
                    color: #eee5d4;
                }
            }
        }
    }
    .detail-sub-header {
        display: inline-block;
        background-color: #5c523a;
        width: 100%;
        .sub-header-item {
            float: left;
            font-weight: bold;
            transition: all 75ms ease-in;
            padding: 10px;
            margin: 20px 10px;
            cursor: pointer;
            &.active {
                background-color: #fff;
                color: #5c523a;
                border-radius: 30px;
            }
            &:hover:not(.active) {
                background-color: #403a2b;
                border-radius: 30px;
                color: #eee5d4;
            }
        }
    }

    .detail-main {
        display: flex;
        .player {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .info {
            background-color: #80755a;
            padding: 0 40px;
            .title {
                padding: 40px 0 22px 0;
                font-size: 28px;
            }
            .description {
                color: #c5c0b4;
                font-weight: bold;
                line-height: 24px;
                font-size: 16px;
                padding-bottom: 75px;
            }
            .footer {
                display: block;
                .top {
                    color: #c5c0b4;
                    font-weight: bold;
                    font-size: 12px;
                    border-bottom: solid 1px #c5c0b4;
                    padding-bottom: 15px;
                }
                .bottom {
                    font-weight: bold;
                    padding-top: 15px;
                }
            }
        }
    }
}

@media (max-width: 1060px) {
    .detail-container {
        .detail-main {
            .info {
                .title {
                    padding: 20px 0 22px 0;
                    font-size: 22px;
                }
                .description {
                    line-height: 22px;
                    font-size: 14px;
                    padding-bottom: 60px;
                }
                .footer {
                    display: block;
                    .top {
                        color: #c5c0b4;
                        font-weight: bold;
                        font-size: 12px;
                        border-bottom: solid 1px #c5c0b4;
                        padding-bottom: 15px;
                    }
                    .bottom {
                        font-weight: bold;
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 925px) {
    .detail-container {
        .detail-main {
            .info {
                .description {
                    font-size: 12px;
                    padding-bottom: 30px
                }
            }
        }
    }
    .detail-header {
        text-align: center;
        .header-title {
            width: auto !important;
        }
    }
}

@media (max-width: 800px) {
    .detail-container {
        .detail-main {
            .info {
                .description {
                    font-size: 12px;
                    line-height: 16px;
                    padding-bottom: 15px;
                }
            }
        }
    }
}

@media (max-width: 870px) {
    .detail-container {
        .detail-main {
            display: block;
            .info {
                .description {
                    font-size: 15px;
                }
                .footer {
                    padding-bottom: 15px;
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .detail-container {
        .detail-main {
            display: block;
            .info {
                width: auto;
                .player {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 659px) {
    .header-title {
        float: none !important;
    }
}
