.main-video-div-style {
    width: 640px;
    height: 365px;
    position: relative;
    float: left;
    z-index: 9;
}

@media screen and (max-width: 870px) {
    .main-video-div-style {
        width: 100%;
    }
}

.video-div-style {
    width: 100%;
    height: 100%;
    position: relative;
    background: #000 no-repeat center center;
    float: left;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
}

.video-div-style * {
    pointer-events: auto;
}

.pip-div-style {
    width: 15%;
    height: 15%;
    position: absolute;
    float: left;
    z-index: 20;
    border: 2px solid #999;
}

.pip-div-style-0 {
    top: 10px;
    right: 10px;
}

.pip-div-style-1 {
    top: 20%;
    right: 10px;
}

.pip-div-style-2 {
    top: 40%;
    right: 10px;
}

.clickableAd-button {
    bottom: 80px;
    right: 10px;
    z-index: 21;
    position: absolute;
    height: 30px;
    width: 100px;
}

#menu-overlay {
    position: absolute;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, .25);
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

#settings-container {
    background-color: #000000;
    border-radius: 15px;
    opacity: .9;

    position: absolute;
    right: 10px;
    bottom: 0;
}

.settings-panel {
    position: relative;
    top: 0;
    margin: 5px auto;
    width: 90%;
    text-align: center;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    color: #EEE;
}

/* align range selector and output value in settings panels */
.settings-panel input, .settings-panel output {
    vertical-align: middle;
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.settings-panel label {
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.settings-panel select {
    background: #343232;
    outline: none;
    padding: 5px;
    line-height: 1;
    border: 0;
    -webkit-appearance: none;
    border-radius: 15px;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    color: #EEE;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cc-panel {
    height: 137px;
    width: 270px;
}

.nav-panel {
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    /*prevent highlighting on user clicks: fixes bug*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;

    width: 230px;
    height: 137px;
}

.nav-bar {
    -webkit-flex: 0 0 20px;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    cursor: pointer;
}

.nav-bar.left {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.nav-bar.right {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}

.nav-bar.left {
    background-image: url(../img/navLeftBtn_NORMAL.png);
    background-repeat: no-repeat;
    background-position: center;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

.nav-bar.left:hover {
    background-image: url(../img/navLeftBtn_HOVER.png);
}

.nav-bar.left:active {
    background-image: url(../img/navLeftBtn_DOWN.png);
}

.nav-bar.left:disabled {
    background-image: url(../img/navLeftBtn_DISABLE.png);
}

.nav-bar.right {
    background-image: url(../img/navRightBtn_NORMAL.png);
    background-repeat: no-repeat;
    background-position: center;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

.nav-bar.right:hover {
    background-image: url(../img/navRightBtn_HOVER.png);
}

.nav-bar.right:active {
    background-image: url(../img/navRightBtn_DOWN.png);
}

.nav-bar.right:disabled {
    background-image: url(../img/navRightBtn_DISABLE.png);
}

.col {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;

    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;

}

.col > div {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}

.div-logs {
    width: 100%;
    border: 1px solid;
    background-color: #bbbbbb;
    padding: 3px;
    clear: both;
    margin-top: 10px;
}

@media all and (max-width: 850px) {
    /* adjust metric display as row under video */
    .col {
        width: 640px;
        -webkit-flex-flow: row;
        -ms-flex-flow: row;
        flex-flow: row;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.panel {
    border: 2px solid #a1a1a1;
    padding: 10px 10px;
    background: #ffffff;
    border-radius: 10px;
    margin: 3px;
}

.panel-cell {
    border-radius: 10px;
    margin: 3px;
    display: inline-block;
}

.panel-title {
    font-size: 14px;
    line-height: 14px;
    color: #428bca;
    font-weight: bold;
}

.text-primary {
    color: #000000;
    margin: 5px;
}

.panel-stats p, li {
    display: block;
    font-size: 14px;
    line-height: 12px;
}

button {
    background-color: #428bca;
    border: 0;
    outline: 0;
    color: #EEE;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
    color: pink;
}

button.link {
    background: none;
    border: none;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    color: #EEE;
}

button.link:hover {
    color: #4591ce;
}

#column1 {
    float: left;
    margin-right: 15px;
}

.hr-style {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
}

#seek_val {
    width: 30px;
}

.checkbox {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
}

.panel-param {
    font-size: 14px;
    line-height: 14px;
}

[hidden] {
    display: none;
}
