.vid-skin-bgcolor {
    background-color: #428bca;
    color: #EEE;
}

.vid-skin-fgcolor {
    color: #428bca;
}

.adjust-volumebar {
    position: absolute;
    top: 0;
}

/* For IE 11+, range appears in a discrete format */
input[type=range]::-ms-track {
    background: #eee;
    color: #eee;
}

input[type=range]::-ms-fill-lower {
    background: #eee;
}

input[type=range]::-ms-thumb {
    width: 30px;
}

/* Common */
#buffering-overlay {
    position: absolute;

    text-align: center;
    opacity: 1;
    z-index: 1;
}

.video-controls-style {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    opacity: 0;

    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;

    background-image: linear-gradient(bottom, rgb(64, 64, 64) 13%, rgb(0, 0, 0) 100%);
    background-image: -o-linear-gradient(bottom, rgb(64, 64, 64) 13%, rgb(0, 0, 0) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(64, 64, 64) 13%, rgb(0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(64, 64, 64) 13%, rgb(0, 0, 0) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(64, 64, 64) 13%, rgb(0, 0, 0) 100%);

    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.13, rgb(64, 64, 64)),
            color-stop(1, rgb(0, 0, 0))
    );

    z-index: 1000;
}

.video-div-style:hover .video-controls-style {
    opacity: .9;
}

.video-controls-style label, output {
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    color: #EEE;
}

#top-row {
    position: relative;
    top: 0;
}

.cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    /*overflow-x: hidden;*/
    white-space: nowrap;
}

.cell.button {
    width: 35px;
    height: 30px;
    padding: 3px;
}

#left-control-group {
    float: left;
}

#right-control-group {
    float: right;
}

#play_rate {
    position: absolute;
    bottom: 0;
    right: 26px;

    font-size: smaller;
}

#timeDisplay {
    position: absolute;
    float: right;
}

/* Seek Bar */

#seekbar {
    position: relative;
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: transparent;
}

#seekbar div {
    position: relative;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

#seekbar span {
    position: absolute;
    height: 60%;
    top: 20%;

    display: block;

    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

#ad-remaining-time {
    padding-left: 8px;
}

#ad-seekbar {
    position: relative;
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
}

#ad-seekbar div {
    position: relative;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

#ad-seekbar span {
    position: absolute;
    height: 60%;
    top: 20%;

    display: block;

    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

#seekbar .playhead {
    z-index: 1011;
    height: 12px;
    width: 12px;
    border: 1px outset #c9cbce;
    position: absolute;
    left: -8px; /* adjust center of playhead over start of range */
    display: block;
    padding: 0;
    margin: 0;

}

#seekbar .round {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

#seekbar .square {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#seekbar .backer {
    z-index: 1004;
    width: 100%;

    background: #414142; /* Old browsers */
    background: -moz-linear-gradient(top, #414142 0%, #343232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #414142), color-stop(100%, #343232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #414142 0%, #343232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #414142 0%, #343232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #414142 0%, #343232 100%); /* IE10+ */
    background: linear-gradient(to bottom, #414142 0%, #343232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414142', endColorstr='#343232', GradientType=0); /* IE6-9 */

}

#seekbar .buffer {
    z-index: 1005;
    position: absolute;

    background: #4b4b4c; /* Old browsers */
    background: -moz-linear-gradient(top, #4b4b4c 0%, #818184 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b4b4c), color-stop(100%, #818184)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4b4b4c 0%, #818184 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4b4b4c 0%, #818184 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4b4b4c 0%, #818184 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4b4b4c 0%, #818184 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4b4c', endColorstr='#818184', GradientType=0); /* IE6-9 */
}

#ad-seekbar .adBacker {
    z-index: 1004;
    width: 100%;

    background: #414142; /* Old browsers */
    background: -moz-linear-gradient(top, #414142 0%, #343232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #414142), color-stop(100%, #343232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #414142 0%, #343232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #414142 0%, #343232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #414142 0%, #343232 100%); /* IE10+ */
    background: linear-gradient(to bottom, #414142 0%, #343232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414142', endColorstr='#343232', GradientType=0); /* IE6-9 */
}

#seekbar .id3Marker {
    z-index: 1011;
    height: 8px;
    width: 4px;
    border: 1px outset #DD8076;
    position: absolute;
    left: -8px; /* adjust center of playhead over start of range */
    display: block;
    padding: 0;
    margin: 0;
    background-color: #DD8076;
    color: #DD8076;
    top: 3px;
}

#seekbar .adMarker {
    z-index: 1011;
    height: 8px;
    width: 4px;
    border: 1px outset #FDFF72;
    position: absolute;
    left: -8px; /* adjust center of playhead over start of range */
    display: block;
    padding: 0;
    margin: 0;
    background-color: #FDFF72;
    color: #FDFF72;
    top: 3px;
}

#seekbar .progress {
    z-index: 1010;
    position: absolute;

}

#ad-seekbar .adProgress {
    z-index: 1010;
    position: absolute;
    background-color: #F3EB48;
}

#popup-panel {
    position: relative;
}

#btn_playpause {
    background-image: url(../img/playBtn_NORMAL.png);
    background-repeat: no-repeat;
    background-position: center;

    width: 35px;
    height: 35px;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

#btn_playpause:hover {
    background-image: url(../img/playBtn_HOVER.png);
}

#btn_playpause:active {
    background-image: url(../img/playBtn_DOWN.png);
}

#btn_playpause:disabled {
    background-image: url(../img/playBtn_DISABLE.png);
}

#btn_playpause.pause-state {
    background-image: url(../img/pauseBtn_NORMAL.png);
}

#btn_playpause.pause-state:hover {
    background-image: url(../img/pauseBtn_HOVER.png);
}

#btn_playpause.pause-state:active {
    background-image: url(../img/pauseBtn_DOWN.png);
}

#btn_playpause.pause-state:disabled {
    background-image: url(../img/pauseBtn_DISABLE.png);
}

#btn_playpause.replay-state {
    background-image: url(../img/replayBtn_NORMAL.png);
}

#btn_playpause.replay-state:hover {
    background-image: url(../img/replayBtn_HOVER.png);
}

#btn_playpause.replay-state:active {
    background-image: url(../img/replayBtn_DOWN.png);
}

#btn_playpause.replay-state:disabled {
    background-image: url(../img/replayBtn_DISABLE.png);
}

#rng_volumebar {
    position: absolute;
    top: 0;
}

#volume_slide_container {
    background: url(../img/volumeContainer.png) no-repeat top center;

    /* set width to volume button */
    width: 36px;
    height: 153px;
    top: -153px;

    position: absolute;

    /* z-index must be higher than seek bar */
    z-index: 2000;
}

#btn_volume {
    background: url(../img/volumeBtn_NORMAL.png) no-repeat center;

    width: 35px;
    height: 35px;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;

    z-index: 2001;
}

#btn_volume:hover, #volume_slide_container:hover + #btn_volume {
    background-image: url(../img/volumeBtn_HOVER.png);
}

#btn_volume:active {
    background-image: url(../img/volumeBtn_DOWN.png);
}

#btn_volume:disabled {
    background-image: url(../img/volumeBtn_DISABLE.png);
}

#btn_volume.mute-state {
    background-image: url(../img/muteBtn_NORMAL.png);
}

#btn_volume.mute-state:hover, #volume_slide_container:hover + #btn_volume.mute-state {
    background-image: url(../img/muteBtn_HOVER.png);
}

#btn_volume.mute-state:active {
    background-image: url(../img/muteBtn_DOWN.png);
}

#btn_volume.mute-state:disabled {
    background-image: url(../img/muteBtn_DISABLE.png);
}

/* Volume Control : Initial State */
.ptp-volume-control {
    z-index: 2001;
    order: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;

    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
    -ms-transition: width 0.5s;
    transition: width 0.5s; /* Animation time */

    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex;

    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;

    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
}

/* Volume Control : Horizontal Expanded State */
.ptp-volume-control.expanded {
    width: 140px;
}

/* Volume Control : Vertical Collapsed State */
.ptp-volume-control.vertical {
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;

    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
}

/* Volume Control : Vertical Expanded State */
.ptp-volume-control.vertical.expanded {
    width: 36px;
}

/* Volume Button : Initial State */
.ptp-btn-volume {
    background: url(../img/volumeBtn_NORMAL.png) no-repeat center;

    width: 35px;
    height: 35px;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    flex: none;
}

/* Volume Button : Hover State */
.ptp-btn-volume:hover, .ptp-volume-slide-container:hover + .ptp-btn-volume {
    background-image: url(../img/volumeBtn_HOVER.png);
}

/* Volume Button : Active State */
.ptp-btn-volume:active {
    background-image: url(../img/volumeBtn_DOWN.png);
}

/* Volume Button : Disabled State */
.ptp-btn-volume.disabled {
    background-image: url(../img/volumeBtn_DISABLE.png);
}

/* Volume Button : Hidden State */
.ptp-btn-volume.hidden {
    display: none;
}

/* Volume Button : Not Max Audio State */
.ptp-btn-volume.min-volume-state {
    background-image: url(../img/volumeBtn_DOWN.png);
}

/* Volume Button : Mute State */
.ptp-btn-volume.mute-state {
    background-image: url(../img/muteBtn_NORMAL.png);
}

/* Volume Button : Mute Hover State */
.ptp-btn-volume.mute-state:hover, .ptp-volume-slide-container:hover + .ptp-btn-volume.mute-state {

}

/* Volume Button : Mute Active State */
.ptp-btn-volume.mute-state:active {

}

/* Volume Button : Mute Disabled State */
.ptp-btn-volume.mute-state.disabled {

}

#btn_pip_disable {
    background: url(../img/pip-disable.png) no-repeat center;

    width: 35px;
    height: 35px;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;

    z-index: 2002;
}

#btn_fullscreen {
    background-image: url(../img/fullscreenBtn_NORMAL.png);
    background-repeat: no-repeat;
    background-position: center;

    width: 35px;
    height: 35px;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

#btn_fullscreen:hover {
    background-image: url(../img/fullscreenBtn_HOVER.png);
}

#btn_fullscreen:active {
    background-image: url(../img/fullscreenBtn_DOWN.png);
}

#btn_fullscreen:disabled {
    background-image: url(../img/fullscreenBtn_DISABLE.png);
}

#btn_fullscreen.fullscreen-state {
    background-image: url(../img/exitfullscreenBtn_NORMAL.png);
}

#btn_fullscreen.fullscreen-state:hover {
    background-image: url(../img/exitfullscreenBtn_HOVER.png);
}

#btn_fullscreen.fullscreen-state:active {
    background-image: url(../img/exitfullscreenBtn_DOWN.png);
}

#btn_fullscreen.fullscreen-state:disabled {
    background-image: url(../img/exitfullscreenBtn_DISABLE.png);
}

#btn_captions {
    background-image: url(../img/ccBtn_NORMAL.png);
    background-repeat: no-repeat;
    background-position: center;

    /* actual dimensions are 24x24 */
    width: 35px;
    height: 35px;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

#btn_captions:hover {
    background-image: url(../img/ccBtn_HOVER.png);
}

#btn_captions:active {
    background-image: url(../img/ccBtn_DOWN.png);
}

#btn_captions:disabled {
    background-image: url(../img/ccBtn_DISABLE.png);
}

#btn_captions.captions-off {
    background-image: url(../img/ccBtnOff_NORMAL.png);
}

#btn_captions.captions-off:hover {
    background-image: url(../img/ccBtnOff_HOVER.png);
}

#btn_captions.captions-off:active {
    background-image: url(../img/ccBtnOff_DOWN.png);
}

#btn_captions.captions-off:disabled {
    background-image: url(../img/ccBtnOff_DISABLE.png);
}

#btn_settings {
    background: url(../img/settingsBtn.png) no-repeat center;

    /* actual dimensions are 24x24 */
    width: 35px;
    height: 35px;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

#btn_settings:hover {
    background-image: url(../img/settingsBtn_DOWN.png);
}

#btn_settings:active {
    background-image: url(../img/settingsBtn_DOWN.png);
}

#btn_settings:disabled {
    background-image: url(../img/settingsBtn_DISABLE.png);
}

#btn_settings.on {
    background-image: url(../img/settingsBtn_DOWN.png);
}

#btn_settings.on:hover {
    background-image: url(../img/settingsBtn.png);
}

#btn_settings.on:active {
    background-image: url(../img/settingsBtn.png);
}

#btn_settings.on:disabled {
    background-image: url(../img/settingsBtn.png);
}

#btn_reset {
    background: url(../img/resetBtn_NORMAL.png) no-repeat center;

    width: 35px;
    height: 35px;

    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

#btn_reset:hover {
    background-image: url(../img/resetBtn_HOVER.png);
}

#btn_reset:active {
    background-image: url(../img/resetBtn_DOWN.png);
}

#btn_reset:disabled {
    background-image: url(../img/resetBtn_DISABLE.png);
}

.display {
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    color: #EEE;
}

input[type=range][orient=vertical]::-webkit-slider-thumb {
    margin-left: -5px;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical;

    width: 26px;
    height: 123px;
    padding: 0px;
    margin: 0px 0px 0px 5px;
    cursor: pointer;
}

#btn_social_facebook {
    width: 30px;
    height: 30px;
    background-image: url('../img/fblogo.png');
    background-size: 30px 30px;
    border-radius: 0px;
}

#btn_social_twitter {
    width: 30px;
    height: 30px;
    background-image: url('../img/twlogo.png');
    background-size: 30px 30px;
    border-radius: 0px;
    background-color: white;
}

.console {
    height: 400px;
    overflow: scroll;
    background-color: #EBEBE4;
}

.console-content {
    color: #383846;
    font-size: 13px;
}
