.custom-error-dialog {
    position: fixed;
    z-index: 2147483647; /* maximum z-index value, Sit on top of everything */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.custom-error-dialog-content {
    position: absolute;
    z-index: 2147483647; /* maximum z-index value, Sit on top of everything */
    overflow: hidden;
    background-color: #aab3c1;
    margin: auto;
    height: 100%;
    border: 2px solid #ddd;
    opacity: 1;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.custom-error-dialog-header {
    font-size: 1em;
    background: #428bca;
}

.custom-error-dialog-body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}
