//colors
$white: #fff;
$color_storm_dust: #666;

//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;

html {

}

body {
    margin: 0;
    padding: 0;
    font-family: $font_0, $font_1, $font_2;
    font-size: 14px;
    color: $white;
    background: $color_storm_dust;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

#app {
    width: 80%;
    @media all and (max-width: 1250px) {
        width: 100%;
    }
}

.loader {
    position: absolute;
    z-index: 999;
    top: 30%;
    left: 36%;
}
