.slide {
    width: 30%;
    height: auto;
    padding: 1.5%;
    position: relative;
    &:hover {
        .imageContainer {
            &:before {
                display: block;
            }
        }
        .summary {
            display: block;
        }
    }
}

.imageContainer {
    position: relative;
    overflow: hidden;
    &:before {
        display: none;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.90);
        position: absolute;
        top: 0;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 110%;
        height: 26%;
        transform: translate(-2%, 50%) rotate(8deg);
        background-color: #243e59;
    }
    img {
        display: flex;
        height: auto;
        width: 100%;
    }
    .logo {
        position: absolute;
        width: 8%;
        bottom: 0;
        left: 10px;
        z-index: 1;
    }
}

.header {
    min-height: 110px;
    padding: 10px;
    h3 {
        max-height: 35px;
    }
    &.red {
        width: inherit;
        background-color: #243e59;
    }
}

.summary {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 85%;
    margin-right: 1.5%;
    color: #000;
    display: none;
}
