.container {
    width: 100%;
}

.slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .header {
        width: 100%;
        display: flex;
        h2 {
            margin-bottom: 0;
        }
    }
}
